version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./data/logs:/app/data/logs # Add this line for log persistence
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://kashaneko:password@db:5432/kashaneko_db
    tty: true
    stdin_open: true

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=kashaneko
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=kashaneko_db
    ports:
      - "5432:5432"

volumes:
  postgres_data: